* {
  top: 0;
}


body {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

#text-container {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  padding: 15px;

  top: 0;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: #4527A0;

  color: white;
  cursor: pointer;
}

#images-nav {
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  background-color: #CFD8DC;
}

#images-nav img {
  margin: 5px 8px;
  cursor: pointer;
}

.vertical-line {
  border-left: 1px solid black;
  height: 40px;
  justify-content: center;
  color: gray;

}

/* #nav-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  } */

/* #nav-3 > div {
    flex-basis: 100%;
    margin-bottom: 10px;
    text-align: center;
  } */

/* #nav-3 h1 {
    margin-bottom: 10px;
  }
  
  #search-bar {
    width: auto;
    box-sizing: border-box;
  }
   */
@media (max-width: 768px) {
  #nav-3>div {
    flex-basis: auto;
    margin-bottom: 0;
  }

  #nav-3>div>input {
    display: none;
    /* border-color: yellow; */
  }

  /* Styles to apply when the screen width is 768 pixels or less (mobile devices) */
  .vertical-line:last-of-type,
  .vertical-line:last-of-type+img,
  .vertical-line:last-of-type+img+.vertical-line,
  .vertical-line:last-of-type+img+.vertical-line+img {
    display: none;
  }

}




#nav-3 {
  object-fit: cover;
  width: auto;
  /* border: 1px solid black; */
  background-color: #E0F7FA;

  display: flex;
  /* border: 2px solid red; */
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

#nav-3>div:nth-child(1) {
  display: flex;
  width: auto;
  align-items: center;
}

#nav-3 span {
  height: 30px;
  cursor: pointer;
  margin: 0px 10px;
  /* border: 1px solid black; */
}

.material-symbols-outlined {
  font-size: 30px;
}

#nav-3>div>input {
  font-size: 16px;
  border-radius: 5px;
  border-width: 1px;
  text-decoration: none;
  width: 700px;
  margin-left: 60px;
  height: 35px;
}

#nav-3>div a {
  text-decoration: none;
}

#nav-3>div>h1:nth-child(1) {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  color: #4527A0;
  margin-left: 20px;
  cursor: pointer;

}

#nav-3>div:nth-child(2) {

  display: flex;
  align-items: center;
  /* border: 4px solid blue; */

}

.main {
  /* background-color: #E0F7FA; */
  padding: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  width: 95%;
  font-weight: 600;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  margin-top: 10px;
  /* padding-bottom: 10px; */
  /* font-family: 'Josefin Sans', sans-serif; */
}

.main>ul {
  margin: auto;
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.main>ul>li {

  list-style: none;

}

/* .main>ul>li>a:hover{
   
} */
.main>ul>li>a {
  color: #140d29;
  font-weight: 800;
  text-decoration: none;
  font-size: 14px;

}

.megamenu {
  background-color: white;
  /* font-family: 'Josefin Sans', sans-serif; */
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  display: flex;
  opacity: 0;
  visibility: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* transition: 1.5s; */
}

/* .main>ul>li:hover{
    text-shadow: #795548;
} */

.main>ul>li:hover .megamenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.megamenuitems ul li {
  cursor: pointer;
  color: #212121;
  font-size: 14px;
  list-style: none;
  padding: 5px;
  margin-left: 10px;
}

.megamenuitems li:hover {
  text-decoration: underline;
}

/* .megamenuitems ul{
    margin-left: 70px;
} */

.megamenuitems {
  flex-basis: 30%;
  margin: 1%;
}

#sec-1>img {
  margin-right: 15px;
}

#sec-1 span {
  font-weight: bolder;

}

#sec-1>p {
  font-weight: 500;
}

#sec-1 {

  display: flex;
  justify-content: center;
  margin-top: 30px;
  /* border: 1px solid black; */
}

#main-section {
  background-color: #FAFAFA;
  /* border: 2px solid black; */

}

.sec-2 {
  margin-top: 20px;
  text-align: center;
  /* border: 1px solid red; */
}

.sec-2>img {
  width: 100%;
}

.sec-2 img:nth-child(2) {
  width: 87.2%;
  margin-top: 10px;
  margin-bottom: 20px;

}

.sec-3 {
  /* border: 1px solid black; */
  width: 87.2%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px
}

.sec-3 div {
  padding: 13px;
  background-color: #e1a3b9;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}

.sec-3 div>a {
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: #7B1FA2;


}

.sec-3 div:hover {
  cursor: pointer;
  background-color: #c3839a;



}

/* media query here */
@media screen and (max-width: 480px) {
  .sec-3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px
  }

  #nav-3 span:nth-child(3) {
    display: none;
    /* height: 30px;
        cursor: pointer;
        margin: 0px 10px; */
    /* border: 1px solid black; */
  }
}

/* media query here */
.sec-4 {
  margin: auto;
  width: 87.2%;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  text-align: center;
  align-items: center;
  margin-top: 20px;
  background-color: #4527A0;
  color: white;

}

/* .sec-4 span:nth-child(1) {
   
} */
.sec-4>h2 {
  font-size: 22px;
  font-family: cursive
}

.sec-4>button {
  cursor: pointer;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  margin-left: 20px;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
}

.sec-4 {
  margin: auto;

  cursor: pointer;

  margin-top: 30px;
  width: 87.2%;

}

.sec-4>img {
  width: 100%;
}

.sec-5 {
  margin: auto;
  width: 87.2%;
  cursor: pointer;

  margin-top: 30px;

}

.sec-5>img {
  width: 100%;
}

.sec-6 {

  /* border: 1px solid red; */
  margin: auto;
  width: 87.2%;
  margin-top: 25px;

}

.sec-6>img {
  width: 100%;
}

.sec-7 {
  width: 87.2%;
  margin: auto;
  margin-top: 20px;
  /* border: 1px solid red; */

}

.sec-7>img {
  width: 100%;
}

.sec-9 {
  margin: auto;
  width: 87.2%;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  text-align: center;
  align-items: center;
  margin-top: 20px;
  background-color: #00ACC1;
  color: white;

}

/* .sec-4 span:nth-child(1) {
   
} */
.sec-9>h2 {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.sec-9 a {
  color: white;

}

.sec-9>img {
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;
}

#hr-1>hr {
  margin: 30px;
}

.foot-1 {
  /* border: 1px solid black; */
  text-align: center;
}

#footer-section {
  margin: auto;
  width: 75%;
  /* border: 1px solid blue; */
}

.foot-2 {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.foot-2 input {
  font-size: 16px;
  padding: 18px 0px;
  /* cursor: pointer; */
  border-radius: 3px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-width: 1px;


}

.foot-2 button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  border-width: 1px;
  padding: 18px 0px;
  cursor: pointer;
  border-radius: 3px;
  background-color: white;
}

.foot-3 {
  margin: auto;
  width: 22%;
  /* border: 1px solid black; */
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.foot-3>img {
  cursor: pointer;
  width: 25px;
}

.foot-4 {
  margin-top: 20px;
  display: flex;
  background-color: #7B1FA2;
  justify-content: center;
  align-items: center;
}

.foot-4 span {
  font-size: 18px;
  font-weight: bold;

}

.foot-4>p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  margin-left: 10px;
  color: white;
}

.foot-4>img {
  width: 60px;
  margin-right: 10px;

}

#footer-section-2 {
  margin-top: 20px;

  background-color: #E0F7FA;
  /* border: 1px solid blue; */

}

.footer-1 {
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 80%;
  /* border: 1px solid black */
  padding-bottom: 20px;

}

.footer-1 ul {
  cursor: pointer;
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-weight: bolder;
  font-size: 18px;
}

.footer-1 li {
  margin-top: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 40px;
  list-style: none;
}

.footer-1 img {
  width: 25px;
  margin-right: 10px;
}

.footer-1 a {
  color: black;
  text-decoration: none;
}

.footer-1 li:hover {
  text-decoration: underline;
}

.hr-2>hr {
  margin: 25px;
}

.fo-1 {
  text-align: center;
}

.fo-1 span {
  font-size: 26px;
  font-weight: bolder;
}

.fo-1 p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.footer-img {
  width: 87.2%;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-img img {
  width: 100px;
  margin: 24px;
}

.footer-img {
  margin: auto;

}

.footer-img>div {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin: auto;

}

/* .footer-2{
    margin: auto;
} */
.veri-foot {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  margin-right: 15px;
}

.veri-foot p {
  font-size: 14px;
  margin-right: 15px;
  cursor: pointer;
  color: black;
}

.veri-foot p:hover {
  text-decoration: underline;
}

.two {
  border-left: 1px solid black;
  height: 20px;

  align-items: center;
  margin-top: 15px;
  justify-content: center;
  color: gray;
  margin-right: 10px;

}

.material-symbols-outlined:nth-child(4) {
  position: relative;
  /* border: 1px solid black; */

}

#Regbtn {
  font-size: 20px;
  margin-right: 30px;
  color: brown;
  text-decoration: none;
  transition: color 0.3s ease;
}

#Regbtn:hover {
  font-weight: bold;
  text-decoration: underline;
  color: black;
}


#hover-data {
  /* border: 2px solid red; */
  margin-right: 15px;
  /* width: 30px; */
  position: relative;
  /* align-items: center; */
}

.material-symbols-outlined {
  position: relative;
  cursor: pointer;
  z-index: 1;
}

#hover-data .container {
  /* border: 2px solid red; */

  text-align: center;
  border-radius: 15px;
  position: absolute;
  top: 70%;
  left: 40px;
  width: 120px;
  background-color: #4527A0;
  padding: 5px;
  display: none;
  z-index: 2;
  color: #FFFFFF;
}

#hover-data .material-symbols-outlined:nth-child(4):hover+.container,
#hover-data .container:hover {
  display: block;
}

.container button {
  padding: 4px;
  background-color: #CFD8DC;
  color: blue;
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
}

#show-ptag {
  color: white;
  font-weight: bolder;

}

/* CSS for small and medium screens */
@media (max-width: 800px) {
  #nav-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #nav-3 h1 {
    font-size: 20px;
  }

  #search-bar {
    margin-top: 10px;
    width: 100%;
  }

  #hover-data {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #hover-data>* {
    margin: 5px;
  }

  #Regbtn {
    color: brown;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  #Regbtn:hover {
    color: darkbrown;
  }

  .main {
    display: none;
  }

  #header {
    text-align: center;
  }

  #header h1 {
    font-size: 20px;
  }

  #search-bar {
    margin-top: 10px;
    width: 100%;
  }

}


@media (max-width: 800px) {

  .footer-1,
  .footer-2 {
    display: block;
    margin-bottom: 20px;
  }

  .footer-1>div,
  .footer-2>div {
    margin-bottom: 10px;
  }

  .footer-2 {
    display: none;
  }

  /* Adjust the layout and styling for smaller screens here */

  .veri-foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .veri-foot p {
    margin: 5px;
    flex-basis: 100%;
  }

  .veri-foot .vertical-line {
    display: none;
  }
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

/* header */

.header {
  /* border: 2px solid red; */
  width: 20px;
  display: none;
  background-color: black;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  /* position: fixed; */
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  /* margin-top: 100px; */
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: black;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media (max-width: 48em) {
  .header {
    display: block;
    /* opacity: 0.5; */
    background-color: transparent;
  }
}

@media (min-width: 48em) {

  /* .header{
        display:block;
    } */
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    color: white;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
    color: white;
  }

  .header .menu-icon .navicon {
    background-color: white;
    color: white;
  }

  .header .menu-icon .navicon {
    background-color: white;
    transition: opacity 0.3s;
  }

  .header .menu-icon.hidden {
    opacity: 0;
  }

}

#log {

  display: flex;
  margin-right: 20px;

}
#log h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

#display-name {
  display: flex;
  margin-right: 20px;
}

#display-name img {
  width: 20%;
  border-radius: 10px;
  margin-left: 10px
}

#display-name h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}