#topsAppend {
    margin-top: 30px;
    margin-left: 20px;
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

#topsAppend>div {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #E0F7FA;
    padding: 10px;
    border-radius: 10px;
}
#topsAppend p:nth-child(4){
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* #topsAppend>div>img {
    width: 50%;
} */

* {
    top: 0;
}


body {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

#text-container {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    padding: 15px;

    top: 0;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #4527A0;

    color: white;
    cursor: pointer;
}

#images-nav {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    background-color: #CFD8DC;
}

#images-nav img {
    margin: 5px 8px;
    cursor: pointer;
}

.vertical-line {
    border-left: 1px solid black;
    height: 40px;
    justify-content: center;
    color: gray;

}

#nav-3 {
    background-color: #E0F7FA;
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

#nav-3>div:nth-child(1) {
    display: flex;

    align-items: center;
}

#nav-3 span {
    /* height: 30px; */
    cursor: pointer;
    margin: 0px 10px;
    /* border: 1px solid black; */
}

.material-symbols-outlined {
    font-size: 30px;
}

#nav-3>div>input {
    font-size: 16px;
    border-radius: 5px;
    border-width: 1px;
    text-decoration: none;
    width: 700px;
    margin-left: 60px;
    height: 35px;
}

#nav-3>div a {
    text-decoration: none;
}

#nav-3>div>h1:nth-child(1) {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: #4527A0;
    margin-left: 20px;
    cursor: pointer;

}

#nav-3>div:nth-child(2) {

    display: flex;
    align-items: center;
    /* border: 4px solid blue; */

}

.main {
    /* background-color: #E0F7FA; */
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    width: 95%;
    font-weight: 600;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    margin-top: 10px;
    /* padding-bottom: 10px; */
    /* font-family: 'Josefin Sans', sans-serif; */
}

.main>ul {
    margin: auto;
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.main>ul>li {

    list-style: none;

}

/* .main>ul>li>a:hover{
   
} */
.main>ul>li>a {
    color: #140d29;
    font-weight: 800;
    text-decoration: none;
    font-size: 14px;

}

.megamenu {
    background-color: white;
    /* font-family: 'Josefin Sans', sans-serif; */
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    display: flex;
    opacity: 0;
    visibility: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* transition: 1.5s; */
}

/* .main>ul>li:hover{
    text-shadow: #795548;
} */

.main>ul>li:hover .megamenu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.megamenuitems ul li {
    cursor: pointer;
    color: #212121;
    font-size: 14px;
    list-style: none;
    padding: 5px;
    margin-left: 10px;
}

.megamenuitems li:hover {
    text-decoration: underline;
}

/* .megamenuitems ul{
    margin-left: 70px;
} */

.megamenuitems {
    flex-basis: 30%;
    margin: 1%;
}

#sec-1>img {
    width: 50px;
    margin-right: 15px;
}

#sec-1 span {
    font-weight: bolder;

}

#sec-1>p {
    font-weight: 500;
}

#sec-1 {

    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* border: 1px solid black; */
}

#flex-1-main {
    display: flex;
    margin: 15px;
    justify-content: space-between;
    /* border: 1px solid black; */
}

#flex-a {
    width: 30%;
    /* border: 1px solid green; */
}

#flex-a>h2 {
    margin-top: 30px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#flex-a h3 {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#flex-a {
    padding: 0px 15px;
}

#sort-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}

#flex-2 {
    margin-top: 30px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}

#flex-2 label {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#flex-2 select {
    cursor: pointer;

    margin: 20px;
    border-radius: 5px;
    width: 70%;
    padding: 10px;
    font-size: 16px;
}

#liTags {
    margin-top: 20px;
    /* border: 1px solid black; */
    list-style: none;
}

#liTags ul {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: -40px;
}

#liTags li {
    margin-top: 5px;
}

#liTags li:hover {
    cursor: pointer;
    color: #140d29;
    text-decoration: underline;
}

.imgdiv {
    /* border: 1px solid black; */
    width: 100%
}

.imgdiv img {
    /* transform: skew(3deg,1deg); */
    /* transform: translate(10px, 5px); */
    width: 100%;
}

.imgdiv img {
    transition: transform .7s ease-in-out;
}

.imgdiv img:hover {
    transform: rotate(3deg);
}
/* .imgdiv img:left {
    transform: rotate(398deg);

} */

.Addtocartbtn {
    width: 38%;
    display: flex;
    margin: auto;
    font-size: 16px;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    border: none;
    color: white;

    background-color: #4527A0;


}

.Addtocartbtn:hover {
    width: 42%;
    font-weight: 600;
    transform: scale(1.1)
}
.material-symbols-outlined:nth-child(4) {
    position: relative;
    /* border: 1px solid black; */

}

#hover-data {
    position: relative;
}

.material-symbols-outlined {
    position: relative;
    cursor: pointer;
    z-index: 1;
}

#hover-data .container {
    text-align: center;
    border-radius: 15px;
    position: absolute;
    top: 70%;
    left: 40px;
    width: 120px;
    background-color: #4527A0;
    padding: 5px;
    display: none;
    z-index: 2;
    color: #FFFFFF;
}

#hover-data .material-symbols-outlined:nth-child(4):hover+.container,
#hover-data .container:hover {
    display: block;
}

.container button {
    padding: 4px;
    background-color: #CFD8DC;
    color: blue;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
}

#show-ptag {
    color: white;
    font-weight: bolder;

}
/* footer */
.foot-1 {
    /* border: 1px solid black; */
    text-align: center;
}

#footer-section {
    margin: auto;
    width: 75%;
    /* border: 1px solid blue; */
}

.foot-2 {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.foot-2 input {
    font-size: 16px;
    padding: 18px 0px;
    /* cursor: pointer; */
    border-radius: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-width: 1px;


}

.foot-2 button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    border-width: 1px;
    padding: 18px 0px;
    cursor: pointer;
    border-radius: 3px;
    background-color: white;
}

.foot-3 {
    margin: auto;
    width: 22%;
    /* border: 1px solid black; */
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.foot-3>img {
    cursor: pointer;
    width: 25px;
}

.foot-4 {
    margin-top: 20px;
    display: flex;
    background-color: #7B1FA2;
    justify-content: center;
    align-items: center;
}

.foot-4 span {
    font-size: 18px;
    font-weight: bold;

}

.foot-4>p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    margin-left: 10px;
    color: white;
}

.foot-4>img {
    width: 60px;
    margin-right: 10px;

}

#footer-section-2 {
    margin-top: 20px;

    background-color: #E0F7FA;
    /* border: 1px solid blue; */

}

.footer-1 {
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 80%;
    /* border: 1px solid black */
    padding-bottom: 20px;

}

.footer-1 ul {
    cursor: pointer;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-weight: bolder;
    font-size: 18px;
}

.footer-1 li {
    margin-top: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 40px;
    list-style: none;
}

.footer-1 img {
    width: 25px;
    margin-right: 10px;
}

.footer-1 a {
    color: black;
    text-decoration: none;
}

.footer-1 li:hover {
    text-decoration: underline;
}

.hr-2>hr {
    margin: 25px;
}

.fo-1 {
    text-align: center;
}

.fo-1 span {
    font-size: 26px;
    font-weight: bolder;
}

.fo-1 p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.footer-img {
    width: 87.2%;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-img img {
    width: 100px;
    margin: 24px;
}

.footer-img {
    margin: auto;

}

.footer-img>div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: auto;

}

/* .footer-2{
    margin: auto;
} */
.veri-foot {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    margin-right: 15px;
}

.veri-foot p {
    font-size: 14px;
    margin-right: 15px;
    cursor: pointer;
    color: black;
}

.veri-foot p:hover {
    text-decoration: underline;
}

.two {
    border-left: 1px solid black;
    height: 20px;

    align-items: center;
    margin-top: 15px;
    justify-content: center;
    color: gray;
    margin-right: 10px;

}

.material-symbols-outlined:nth-child(4) {
    position: relative;
    /* border: 1px solid black; */

}

#hover-data {
    position: relative;
}

.material-symbols-outlined {
    position: relative;
    cursor: pointer;
    z-index: 1;
}

#hover-data .container {
    text-align: center;
    border-radius: 15px;
    position: absolute;
    top: 70%;
    left: 40px;
    width: 120px;
    background-color: #4527A0;
    padding: 5px;
    display: none;
    z-index: 2;
    color: #FFFFFF;
}

#hover-data .material-symbols-outlined:nth-child(4):hover+.container,
#hover-data .container:hover {
    display: block;
}

.container button {
    padding: 4px;
    background-color: #CFD8DC;
    color: blue;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
}

#show-ptag {
    color: white;
    font-weight: bolder;

}

@media (max-width: 799px) {
    #flex-a {
      display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: 30%;
      background-color: #f1f1f1;
      padding: 20px;
      overflow-y: auto;
    }
  
    #flex-a h2 {
      margin-top: 0;
    }
  
    #sort-1,
    #flex-2,
    #liTags {
      display: none;
    }
  }
    #topsAppend {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    } 
    
    @media (min-width: 768px) {
      #topsAppend {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    
    @media (min-width: 992px) {
      #topsAppend {
        grid-template-columns: repeat(4, 1fr);
      }
    }
    